

/* lARGE screen : 992px. */

/* @media only screen and (min-width: 992px) and (max-width: 1199px) {
	 .header-section {
		padding-bottom: 20px;
 }

	.header-right .hr-btn {
		display: none;
	}

	.navbar-brand {
		padding: 37px 0px 0px 19px;
	}

	.header-right .hr-btn.hr-btn-2 {
		display: none;
	}
	

	.main-menu li a{
		padding-top: 40px;
		padding-right: 20px;

	}

	.score-section .hand-img {
		right: 0;
	}

	.hero-slider .hero-slider, .hero-slider .hs-item  {
		height: 100%;
	}


/* PRIVACIDAD */

	/* .SliderPrivacidad {
		height: 50%;
	}

	.PrivacidadDescrip h2 {
		margin-top: 620px;
	} */


/* LEGAL */

	/* .SliderLegal {
		height: 50%;
	}

	.LegalDescrip h2 {
		margin-top: 620px;
	} */

/* COOKIES */
/* 
	.SliderCookies {
		height: 50%;
	}

	.CookiesDescrip h2 {
		margin-top: 620px;
	} */


	/* Change tamaño foto y texto PLAGAS */

	/* .avesDescrip h2 {
		margin-top: 600px;
	}

	.avispasDescrip h2 {
		margin-top: 600px;
	}

	.carcomaDescrip h2 {
		margin-top: 600px;
	}

	.chincheDescrip h2 {
		margin-top: 600px;
	}

	.cucarachaDescrip h2 {
		margin-top: 600px;
	}

	.hormigaDescrip h2 {
		margin-top: 600px;
	}

	.moscaDescrip h2 {
		margin-top: 600px;
	}

	.mosquitoDescrip h2 {
		margin-top: 600px;
	}

	.procesionariaDescrip h2 {
		margin-top: 600px;
	}

	.pulgaDescrip h2 {
		margin-top: 600px;
	}

	.roedorDescrip h2 {
		margin-top: 600px;
	}

	.termitaDescrip h2 {
		margin-top: 580px;
	}

	.SliderAves {
		height: 50%;
	}

	.SliderAvispa {
		height: 50%;
	}

	.SliderCarcoma {
		height: 50%;
	}

	.SliderChinche {
		height: 50%;
	}

	.SliderCucaracha {
		height: 50%;
	}

	.SliderHormiga {
		height: 50%;
	}

	.SliderMosca {
		height: 50%;
	}

	.SliderMosquito {
		height: 50%;
	}

	.SliderProcesionaria {
		height: 50%;
	}

	.SliderPulga {
		height: 50%;
	}
	
	.SliderRoedor {
		height: 50%;
	}

	.SliderTermita {
		height: 50%;
	} */ 
	/* Final Change tamaño foto y texto PLAGAS */


	/* Change tamaño foto y texto SERVICIOS */

	/* .AppccDescrip h2 {
		margin-top: 600px;
	}

	.DesinfeccionDescrip h2 {
		margin-top: 600px;
	}

	.DesinsectacionDescrip h2 {
		margin-top: 600px;
	}

	.DesratizacionDescrip h2 {
		margin-top: 600px;
	}

	.FumigaDescrip h2 {
		margin-top: 600px;
	}

	.LegionellaDescrip h2 {
		margin-top: 600px;
	}

	.TratamientoDescrip h2 {
		margin-top: 600px;
	}


	.SliderAppcc {
		height: 50%;
	}

	.SliderDesinfeccion {
		height: 50%;
	}

	.SliderDesinsectacion {
		height: 50%;
	}

	.SliderDesratizacion {
		height: 50%;
	}

	.SliderFumigacion {
		height: 50%;
	}

	.SliderLegionella {
		height: 50%;
	}

	.SliderTrataMadera {
		height: 50%;
	} */

	/* Final Change tamaño foto y texto SERVICIOS */


	/* Change tamaño foto y texto SECTORES */

	/* .AdminDescrip h2 {
		margin-top: 600px;
	}

	.ComercDescrip h2 {
		margin-top: 600px;
	}

	.EducDescrip h2 {
		margin-top: 600px;
	}

	.HosteleriaDescrip h2 {
		margin-top: 600px;
	}

	.HotelDescrip h2 {
		margin-top: 600px;
	}

	.OficiDescrip h2 {
		margin-top: 600px;
	}

	.ParticDescrip h2 {
		margin-top: 600px;
	}

	.SanitDescrip h2 {
		margin-top: 600px;
	}



	.SliderAdmin {
		height: 50%;
	}

	.SliderComerc {
		height: 50%;
	}

	.SliderEduc {
		height: 50%;
	}

	.SliderHosteleria {
		height: 50%;
	}

	.SliderHotel {
		height: 50%;
	}

	.SliderOfici {
		height: 50%;
	}

	.SliderPartic {
		height: 50%;
	}

	.SliderSanit {
		height: 50%;
	} */
	
	/* Final Change tamaño foto y texto SECTORES */

	/* .InspeccionBotonEmpresa {
		min-width: 333px;
	}

	.score-section .container {
		padding: 60px 15px 60px;
	}
} */

/* Tablet | MEDIUM :768px. */

/* @media only screen and (min-width: 768px) and (max-width: 991px) {

	.header-section {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 20px;
		width: 772px;
		padding-left: 30px;
	}

	.header-right {
		display: none;
	}

	.hero-slider .owl-dots {
		display: none;
	}

	.hero-slider {
		height: 114%;
	}

	.SliderEmpresa {
		height: 70%;
		margin-top: 100px;
	}

	.TextoSolucion h1 {
		font-size: 40px;
	} */

	
	/* PRIVACIDAD */

	/* .SliderPrivacidad {
		height: 50%;
	}

	.PrivacidadDescrip h2 {
		margin-top: 420px;
	} */

	
	/* LEGAL */

	/* .SliderLegal {
		height: 50%;
	}

	.LegalDescrip h2 {
		margin-top: 420px;
	}

	/* COOKIES */

	/* .SliderCookies {
		height: 50%;
	}

	.CookiesDescrip h2 {
		margin-top: 420px;
	} */ 

/* Change tamaño foto y texto PLAGAS */

	/* .SliderAves {
		height: 50%;
	}

	.SliderAvispa {
		height: 50%;
	}

	.SliderCarcoma {
		height: 50%;
	}

	.SliderChinche {
		height: 50%;
	}

	.SliderCucaracha {
		height: 50%;
	}

	.SliderHormiga {
		height: 50%;
	}

	.SliderMosca {
		height: 50%;
	}

	.SliderMosquito {
		height: 50%;
	}

	.SliderProcesionaria {
		height: 50%;
	}

	.SliderPulga {
		height: 50%;
	}

	.SliderRoedor {
		height: 50%;
	}

	.SliderTermita {
		height: 50%;
	}

	.AppccDescrip h2 {
		margin-top: 420px;
	}

	.DesinfeccionDescrip h2 {
		margin-top: 420px;
	}

	.DesinsectacionDescrip h2 {
		margin-top: 420px;
	}

	.DesratizacionDescrip h2 {
		margin-top: 420px;
	}

	.FumigaDescrip h2 {
		margin-top: 420px;
	}

	.LegionellaDescrip h2 {
		margin-top: 420px;
	}

	.TratamientoDescrip h2 {
		margin-top: 420px;
	}
	
/* Final Change tamaño foto y texto PLAGAS */


/* Change tamaño foto y texto SERVICIOS */
/* .SliderAppcc {
	height: 50%;
}

.SliderDesinfeccion {
	height: 50%;
}

.SliderDesinsectacion {
	height: 50%;
}

.SliderDesratizacion {
	height: 50%;
}

.SliderFumigacion {
	height: 50%;
}

.SliderLegionella {
	height: 50%;
}

.SliderTrataMadera {
	height: 50%;
}  */
/* Final Change tamaño foto y texto SERVICIOS */


/* Change tamaño foto y texto SECTORES */

/* .AdminDescrip h2 {
	margin-top: 430px;
}

.ComercDescrip h2 {
	margin-top: 430px;
}

.EducDescrip h2 {
	margin-top: 430px;
}

.HosteleriaDescrip h2 {
	margin-top: 430px;
}

.HotelDescrip h2 {
	margin-top: 430px;
}

.OficiDescrip h2 {
	margin-top: 430px;
}

.ParticDescrip h2 {
	margin-top: 430px;
}

.SanitDescrip h2 {
	margin-top: 430px;
}



.SliderAdmin {
	height: 50%;
}

.SliderComerc {
	height: 50%;
}

.SliderEduc {
	height: 50%;
}

.SliderHosteleria {
	height: 50%;
}

.SliderHotel {
	height: 50%;
}

.SliderOfici {
	height: 50%;
}

.SliderPartic {
	height: 50%;
}

.SliderSanit {
	height: 50%;
}
	 */
/* Final Change tamaño foto y texto SECTORES */
/* 
	.hs-text {
		margin-bottom: 60px;
		text-align: left;
		padding-top: 50px;
		font-size: 30px;
	}

	.main-menu {
		display: inline-block;
		padding-left: 20px; 
		padding-top: 30px;
	}

	.main-menu li a{
		margin-right: 25px;
		padding-top: 5px;
		padding-bottom: 30px;
	}

	.navbar-brand {
		padding-bottom: 30px;
		padding-left: 5px;
	}

	.icon-box-item .ib-icon {
		float: none;
		margin-bottom: 20px;
	}
	.score-section .hand-img {
		display: none;
	}

	.sidebar {
		padding-top: 50px;
	}

	.hero-slider .owl-stage-outer, .hero-slider .owl-stage, .hero-slider .owl-item, .hero-slider .hs-item .heroSliderEmpresa {
		height: 100%;
	}

	.avesDescrip h2 {
		margin-top: 450px;
	}

	.avispasDescrip h2 {
		margin-top: 450px;
	}

	.carcomaDescrip h2 {
		margin-top: 450px;
	}

	.hormigaDescrip h2 {
		margin-top: 450px;
	}

	.chincheDescrip h2 {
		margin-top: 450px;
	}

	.cucarachaDescrip h2 {
		margin-top: 450px;
	}

	.moscaDescrip h2 {
		margin-top: 450px;
	}

	.mosquitoDescrip h2 {
		margin-top: 450px;
	}

	.procesionariaDescrip h2 {
		margin-top: 450px;
	}

	.pulgaDescrip h2 {
		margin-top: 450px;
	}

	.roedorDescrip h2 {
		margin-top: 450px;
	}

	.termitaDescrip h2 {
		margin-top: 390px;
	}

	.InspeccionBotonEmpresa {
		min-width: 333px;
	}

	.score-section .container {
		padding: 60px 15px 60px;
	}
} */

/* MEDIUM Mobile :480px. */

/* @media only screen and (max-width: 767px) {
	.header-section {
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 0px
	}

	.header-nav {
		display: block;
		padding: 25px;
	}

	.hero-slider {
		width: 100%;
		height: 80%;
	}

	.navbar-brand {
		padding: 33.5px 0px;
		float: initial;
		display: flex;
		justify-content: center;
	}

	.main-menu {
		display: none;
	}

	.slicknav_menu {
		padding: 10px;
		display: block;
		background: transparent;
		display: flex;
		justify-content: center;

	}
	.slicknav_btn {
		background: #01188C;
		margin-top: 0px;
		margin-bottom: 0px;
		height: 30px;
	}

	.slicknav_nav {
		background: #01188C;
		margin-bottom: 0px;
		
	}
	.slicknav_nav a {
		margin: 0;
		padding: 10px 20px;
	}

	.slicknav_nav a:hover {
		color: #01188C;
		border-radius: 0;
		background: #01188C;
	}
	.slicknav_nav .slicknav_row {
		padding: 10px 20px;
		margin: 0;
	}
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
		background: #01188C;
	}
	.slicknav_parent:hover {
		background: #01188C;
		color: #01188C;
	}

	.header-right .hr-btn {
		display: block;
		padding-left: 60px;	
	}

	.hs-text {
		font-size: 30px;
		text-align: left;
		margin-bottom: 80px;
		padding-top: 250px;
	}

	.hs-text h1 {
		font-size: 50px;
		display: none;
	}

	.hs-text a {
		padding-top: 250px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.site-btn {
		justify-content: center;
		align-items: center;
	}

	.score-section h2, .hs-text h1 {
		font-size: 50px;
	}

	.score-section .hand-img {
		display: none;
	}

	.sidebar {
		padding-top: 50px;
	}

	.inspeccionLegionella {
		display: flex;
		align-items: center;
	}

	.footerLegionella {
		display: none;
	} */


/* SMALL-MEDIUM Mobile :479px. */

/* @media only screen and (max-width: 479px) {
	
	.header-section {
		padding: 0px;
		padding-bottom: 0px;
	}
	
	.score-section h2,
	.hs-text h1,
	.cta-section h2 {
		font-size: 36px;
	}

	.hero-slider .owl-dots {
		width: 100px;
	}

	.header-right .hr-btn.hr-btn-2 {
		display: block;
		padding-left: 30px;
		text-align: center;
	}

	.hero-form {
		padding: 40px 30px 50px;
	}

	.icon-box-item .ib-icon {
		float: none;
		margin-bottom: 20px;
	}

	.site-btn.sb-big {
		min-width: auto;
	}

	.info-text ul li {
		font-size: 16px;
	}

	.loans-text ul {
		padding-left: 0;
	}

	.vl {
		display: block;
	}

	.img-fluid {
		display: none;

	}

	.menuContacto h2 {
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;

	}

	.header-right .hr-btn {
		display: block;
		padding-left: 50px;
		text-align: center;
	}


	.contact-section {
		margin-top: 400px;
	}

	.botonSolicita {
		display: flex;
		align-items: center;
		padding: 25px 48px;
	}

	.botonExpertoIndex {
		display: flex;
		align-items: center;
	}

	.botonPresupuestoEmpresa {
		display: flex;
		align-items: center;
	}

	.botonPresupuestoAppC {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.botonPresupuestoOfic {
		display: flex;
		align-items: center;
	}

	.botonPresupuestoFumi {
		display: flex;
		align-items: center;
	}

	.botonPresupuestoDesra {
		display: flex;
		align-items: center;
	}

	.botonPresupuestoMadera {
		display: flex;
		align-items: center;
	}

	.botonPresupuestoDesinf {
		display: flex;
		align-items: center;
	}
	
	.botonPresupuestoDesinsec {
		display: flex;
		align-items: center;
	}
	
	.inspecTelAvis {
		display: flex;
		align-items: center;
	}

	.inspecTelAve {
		display: flex;
		align-items: center;
	}

	.inspecTelCarc {
		display: flex;
		align-items: center;
	}

	.inspecTelChin {
		display: flex;
		align-items: center;
	}

	.inspecTelCuca {
		display: flex;
		align-items: center;
	}

	.inspecTelMosca {
		display: flex;
		align-items: center;
	}

	.inspecTelMosqui {
		display: flex;
		align-items: center;
	}

	.inspecTelPulga {
		display: flex;
		align-items: center;
	}

	.inspecTelRata {
		display: flex;
		align-items: center;
	}

	.inspecTelTermi {
		display: flex;
		align-items: center;
	}


	.inspecTelHormiga {
		display: flex;
		align-items: center;
	}

	.inspecTelProces {
		display: flex;
		align-items: center;
	}
} */

/* CELULARES PEQUEÑOS 320px*/
/* @media only screen and (max-width: 320px) {

	.header-section {
		padding-bottom: 0px;
	}

	.vl {
		display: none;
	}

	.contact-section {
		margin-top:400px;
	}
	
	.hero-slider {
		width: 100%;
		height: 80%;
	}

	.botonPresupuestoEd {
		display: flex;
		align-items: center;
	}

	.botonPresupuestoHotel {
		display: flex;
		align-items: center;
	}

	.botonPresupuestoOfic {
		display: flex;
		align-items: center;
	}

	.botonPresupuestoParti {
		display: flex;
		align-items: center;
	}

	.botonPresupuestoSan {
		display: flex;
		align-items: center;
	}
} */

/* NUEVO MEDIA QUERIES */










