

html,
body {
	height: 100%;
	font-family: 'Raleway';

}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 600;
	line-height: 1.4;

}


.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	color: #ffffff !important;
	background-color: rgb(0, 17, 104) !important;
	border-color: rgb(0, 17, 104) !important;
  }
  
h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h6 {
	font-size: 20px;
	line-height: 80%;
}

p {
	font-size: 15px;
	color:#01188C;
	line-height: 2;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
Helper CSS
 -----------------------*/

.section-title {
	text-align: center;
}

.section-title h2 {
	font-size: 36px;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.text-white h3,
.text-black h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

.contact-section {
	margin-top:200px;
}

/*---------------------
Commom elements
 -----------------------*/

.elements-section {
	padding-bottom: 0;
}

.element {
	margin-bottom: 70px;
}

.element .el-title {
	font-weight: 700;
	margin-bottom: 60px;
}

/* buttons */

.site-btn {
	display: inline-block;
	border: none;
	font-size: 20px;
	font-weight: 600;
	min-width: 188px;
	padding: 25px 35px;
	border-radius: 30px;
	background: #01188C;
	color: #fff;
	line-height: 1.2;
	cursor: pointer;
	text-align: center;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.site-btn:hover {
	color: #fff;
}

.site-btn.sb-dark {
	background: #22242b;
}

.site-btn.sb-big {
	min-width: 257px;
}

.botonOwl {
	display: inline-block;
	border: none;
	font-size: 20px;
	font-weight: 600;
	min-width: 188px;
	padding: 22px 35px;
	margin-left: 35px;
	border-radius: 25px;
	line-height: 1.5;
	cursor: pointer;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-light {
	background-color: transparent;
	border-radius: 30px;
	border: none;

}

.btn-light:hover {
	border-radius: 30px;
	border: none;
}

.btn-outline-primary {
	color: #01188C;
}


.btn-outline-primary:hover {
	background-color: #01188C;
}

.carousel-control-next, .carousel-control-prev {
	opacity: 100;
	
}

.contactoMenu {
	font-size: 100px;
}


/* tab */

.tab-element .nav-tabs {
	border-bottom: none;
}

.tab-element .nav-tabs .nav-link {
	border-radius: 0;
	font-size: 14px;
	font-weight: 700;
	color: #1f1f1f;
	border: none;
	padding: 21px 48px;
	margin-right: 6px;
	border-radius: 70px;
	background: #ebf0f3;
	margin-bottom: 10px;
}

.tab-element .nav-tabs .nav-item:last-child .nav-link {
	margin-right: 0;
}

.tab-element .nav-tabs .nav-link.active {
	background: #01188C;
	color: #fff;
}

.tab-element .nav-tabs .nav-link:focus,
.tab-element .nav-tabs .nav-link:hover {
	border: none;
}

.tab-element .tab-pane p {
	padding-top: 15px;
}


/* Experiencia Box */

.icon-box-item {
	margin-bottom: 30px;
}

.icon-box-item .ib-icon {
	width: 76px;
	height: 76px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 39px;
	color: #01188C;
	border-radius: 20%;
	float: left;
	margin-right: 20px;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

.icon-box-item .ib-text {
	overflow: hidden;
	padding-top: 3px;
}

.icon-box-item .ib-text h5 {
	margin-bottom: 15px;
}

.icon-box-item:hover .ib-icon {
	background: rgba(50, 205, 50, 0.541);
	color: #fff;
}



/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #01188C;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #01188C;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #01188C;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #01188C;
		border-left-color: transparent;
	}
}

/*------------------
Header section
 ---------------------*/

.header-section {
	/* position: absolute; */
	width: 100%;
	left: 0;
	top: 0;
	padding-left: 30px;
	background-color: rgba(1, 24, 140, 0.616);
	z-index: 999;
}

.header-nav {
	text-align: right;
}

.navbar-brand {
	display: block;
	padding: 33.5px 0px 18px 5px;
	float: left;
}

.main-menu {
	display: inline-block;
	padding-right: 50px;
	padding-left: 50px;
}

.main-menu li {
	display: inline-block;
	position: relative;
}

.main-menu li a {
	display: block;
	font-size: 16px;
	color: whitesmoke;
	font-weight: 600;
	padding: 10px 0px;
	margin-right: 45px;
}

.sub-Q {
	display: block;
	font-size: 16px;
	color: whitesmoke;
	font-weight: 600;
	padding: 10px 0px;
	margin-right: 45px;
}

.sub-Q:hover,
.sub-Q.active { 
	color: #32CD32;
}

.main-menu li a:hover,
.main-menu li a.active { 
	color: #32CD32;
}

.main-menu li:hover>.sub-menu {
	visibility: visible;
	opacity: 1;
	margin-top: 0;
}

.main-menu .sub-menu {
	position: absolute;
	list-style: none;
	width: 220px;
	left: 0;
	top: 100%;
	text-align: left;
	padding: 20px 0;
	visibility: hidden;
	opacity: 0;
	margin-top: 50px;
	background: #fff;
	z-index: 99;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.15);
	box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.15);
}

.main-menu .sub-menu li {
	display: block;
}

.main-menu .sub-menu li a {
	display: block;
	color: #000;
	margin-left: 0;
	padding: 10px 10px 0px 50px;
}

.main-menu .sub-menu li a:hover {
	color: #01188C;
}

.header-right {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

.header-right .hr-btn {
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	background: #32CD32;
	padding: 30px 20px 10px 30px;
	position: relative;
	display: block;
}

.botonPresupuestoAppC {
	display: flex;
	align-items: center;
	justify-content: center;
}

.botonPresupuestoDesinsec {
	display: flex;
	align-items: center;
	justify-content: center;
}

.botonPresupuestoDesra {
	display: flex;
	align-items: center;
	justify-content: center;
}

.botonPresupuestoFumi {
	display: flex;
	align-items: center;
	justify-content: center;
}

.botonPresupuestoMadera {
	display: flex;
	align-items: center;
	justify-content: center;
}

.botonPresupuestoDesinf {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-right .hr-btn i {
	position: absolute;
	width: 32px;
	height: 32px;
	top: 29px;
	display: inline-block;
	text-align: center;
	background: #32CD32;
	border-radius: 50%;
	font-size: 70px;
	font-weight: 300;
	padding-top: 6px;
}

.header-right .hr-btn.hr-btn-2 {
	background: #01188C;
	padding: 20px 60px;
	text-align: center;
	display: block;
}

.slicknav_menu {
	display: none;
}

.urgenteFlex {
	display: none;
}

/* ----------------
25 años section
 ---------------------*/

.hero-section {
	padding-top: 110px;
	padding-bottom: 50px;
	position: relative;
}

.hero-section .container {
	position: relative;
	z-index: 99;
}

.hero-slider {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.hero-slider .owl-stage-outer,
.hero-slider .owl-stage,
.hero-slider .owl-item,
.hero-slider .hs-item {
	height: 100%;
}

.hero-slider .owl-dots {
	position: absolute;
	max-width: 1146px;
	width: 100%;
	bottom: 34px;
	left: calc(50% - 573px);
}

.hero-slider .owl-dots .owl-dot {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 10px;
	margin-right: 7px;
	background: #fff;
}

.hero-slider .owl-dots .owl-dot:last-child {
	margin-right: 0;
}

.hero-slider .owl-dots .owl-dot.active {
	background: #32CD32;
}

.hs-text {
	padding-top: 95px;
	padding-right: 0px;
}

.hs-text h1 {
	font-size: 60px;
	color:black;
	margin-bottom: 20px;
	margin-top: 0px;

}


.hs-text p {
	color: #fff;
	margin-bottom: 30px;
}

.hero-form input {
	width: 100%;
	height: 49px;
	padding: 5px 26px;
	margin-bottom: 30px;
	border: none;
	font-size: 14px;
	color: #838383;
}

.hero-form p {
	font-size: 11px;
	font-style: italic;
	margin-bottom: 25px;
}

/* ----------------
CTA section
 ---------------------*/

.cta-section {
	text-align: left;
	padding: 100px 0 38px;
}

.cta-section h2 {
	font-size: 48px;
	margin-bottom: 40px;
}

.cta-section h2 strong {
	font-weight: 900;
	color: #01188C;
}

.cta-section h5 {
	color: black;
	margin-bottom: 30px;
	line-height: 1.4;

}

/* ----------------
Feature section
 ---------------------*/

.feature-item {
	margin-bottom: 70px;
}

.feature-item:last-child {
	margin-bottom: 0;
}

.feature-text {
	padding-top: 50px;
}

.feature-text h2 {
	margin-bottom: 35px;
}

.feature-text p {
	margin-bottom: 38px;
}


/* ----------------
Contacta con experto section
 ---------------------*/

.score-section .container {
	padding: 103px 15px 95px;
	position: relative;
}

.score-section h2 {
	font-size: 60px;
	margin-bottom: 13px;
}

.score-section h4 {
	margin-bottom: 45px;
	line-height: 1.4;
}

.score-section .hand-img {
	position: absolute;
	right: 170px;
	bottom: 0;
}

.hrEmpresa {
	border: 0.5px solid grey;
	width: 50%;
}
/* ----------------
Footer section
 ---------------------*/

.footer-section {
	padding-left: 80px;
	padding-right: 80px;
	padding-top: 70px;
	background: #01188C;
}


.footer-widget h2 {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 30px;
	color: #fff;
}

.footer-widget ul {
	list-style: none;
}

.footer-widget ul li a {
	display: inline-block;
	font-size: 14px;
	color: #ffffff;
	margin-bottom: 15px;
}

.copyright {
	color: #74757b;
	font-size: 14px;
	padding-bottom: 20px;
}


.vl {
	border-right: 1px solid white;
	height: 200px;
  }


/* ----------------
Sobre nosotros Page
 ------------------*/

 .about-text {
	padding-top: 100px;
}

.about-text h2 {
	font-weight: 800;
	margin-bottom: 50px;
	margin-top: 570px;
}

.aboutEmpresa h2 {
	font-weight: 800;
	margin-bottom: 50px;
	margin-top: 0px;
}

.aboutEmpresa {
	padding-top: 0px;

}

.about-text p {
	margin-bottom: 40px;
	font-size: medium;
	margin-left: 50px;
	margin-right: 50px;
	text-justify: distribute-all-lines;
}

/* ----------------
Contacto Page
 ------------------*/

.contact-text {
	padding-right: 5px;
}

.contact-text h2 {
	font-weight: 700;
	margin-bottom: 38px;
}

.contact-text p {
	margin-bottom: 30px;
}

.contact-text ul {
	margin-bottom: 40px;
	list-style: none;
}

.contact-text ul li {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 10px;
}

.contact-text ul li i {
	font-size: 29px;
	color: #01188C;
	display: inline-block;
	width: 41px;
	position: relative;
	top: 5px;
	font-weight: 400;
}

.contact-form {
	padding-top: 50px;
}

.contact-form input,
.contact-form textarea {
	width: 100%;
	height: 59px;
	border: none;
	padding: 0 27px;
	margin-bottom: 30px;
	font-size: 14px;
	color: #838383;
	background: #ebf0f3;
}

.contact-form textarea {
	height: 222px;
	padding: 20px 27px 10px;
	margin-bottom: 35px;
	resize: none;
}

.multipleOptions{
	width: 100%;
	height: 59px;
	border: none;
	padding: 0 27px;
	margin-bottom: 30px;
	font-size: 14px;
	color: #01188C;
	background: #ebf0f3;
	font-weight: 100px;
	resize: both;

}

.map {
	margin: 100px 0 27px;
	height: 511px;
	position: relative;
	background: #ddd;
}

.map iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.hero-slider .owl-dots {
	display: none;
}

/* XlARGE screen : 1200px. 1360PX */

@media (min-width: 1200px) {
	.header-section {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	 .container {
		max-width: 1176px;
	}

}


@media only screen and (min-width: 1200px) and (max-width: 1360px) {
	
	.header-section {
		display: flex;
		justify-content: center;
		align-items: center;
	}

}

/* lARGE screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	 .header-section {
		padding-bottom: 20px;
 }

	.header-right .hr-btn {
		display: none;
	}

	.navbar-brand {
		padding: 37px 0px 0px 19px;
	}

	.header-right .hr-btn.hr-btn-2 {
		display: none;
	}
	

	.main-menu li a{
		padding-top: 40px;
		padding-right: 20px;

	}

	.score-section .hand-img {
		right: 0;
	}

	.hero-slider .hero-slider, .hero-slider .hs-item  {
		height: 100%;
	}


/* PRIVACIDAD */

	.SliderPrivacidad {
		height: 50%;
	}

	.PrivacidadDescrip h2 {
		margin-top: 620px;
	}


/* LEGAL */

	.SliderLegal {
		height: 50%;
	}

	.LegalDescrip h2 {
		margin-top: 620px;
	}

/* COOKIES */

	.SliderCookies {
		height: 50%;
	}

	.CookiesDescrip h2 {
		margin-top: 620px;
	}


	/* Change tamaño foto y texto PLAGAS */

	.avesDescrip h2 {
		margin-top: 600px;
	}

	.avispasDescrip h2 {
		margin-top: 600px;
	}

	.carcomaDescrip h2 {
		margin-top: 600px;
	}

	.chincheDescrip h2 {
		margin-top: 600px;
	}

	.cucarachaDescrip h2 {
		margin-top: 600px;
	}

	.hormigaDescrip h2 {
		margin-top: 600px;
	}

	.moscaDescrip h2 {
		margin-top: 600px;
	}

	.mosquitoDescrip h2 {
		margin-top: 600px;
	}

	.procesionariaDescrip h2 {
		margin-top: 600px;
	}

	.pulgaDescrip h2 {
		margin-top: 600px;
	}

	.roedorDescrip h2 {
		margin-top: 600px;
	}

	.termitaDescrip h2 {
		margin-top: 580px;
	}

	.SliderAves {
		height: 50%;
	}

	.SliderAvispa {
		height: 50%;
	}

	.SliderCarcoma {
		height: 50%;
	}

	.SliderChinche {
		height: 50%;
	}

	.SliderCucaracha {
		height: 50%;
	}

	.SliderHormiga {
		height: 50%;
	}

	.SliderMosca {
		height: 50%;
	}

	.SliderMosquito {
		height: 50%;
	}

	.SliderProcesionaria {
		height: 50%;
	}

	.SliderPulga {
		height: 50%;
	}
	
	.SliderRoedor {
		height: 50%;
	}

	.SliderTermita {
		height: 50%;
	}
	/* Final Change tamaño foto y texto PLAGAS */


	/* Change tamaño foto y texto SERVICIOS */

	.AppccDescrip h2 {
		margin-top: 600px;
	}

	.DesinfeccionDescrip h2 {
		margin-top: 600px;
	}

	.DesinsectacionDescrip h2 {
		margin-top: 600px;
	}

	.DesratizacionDescrip h2 {
		margin-top: 600px;
	}

	.FumigaDescrip h2 {
		margin-top: 600px;
	}

	.LegionellaDescrip h2 {
		margin-top: 600px;
	}

	.TratamientoDescrip h2 {
		margin-top: 600px;
	}


	.SliderAppcc {
		height: 50%;
	}

	.SliderDesinfeccion {
		height: 50%;
	}

	.SliderDesinsectacion {
		height: 50%;
	}

	.SliderDesratizacion {
		height: 50%;
	}

	.SliderFumigacion {
		height: 50%;
	}

	.SliderLegionella {
		height: 50%;
	}

	.SliderTrataMadera {
		height: 50%;
	}

	/* Final Change tamaño foto y texto SERVICIOS */


	/* Change tamaño foto y texto SECTORES */

	.AdminDescrip h2 {
		margin-top: 600px;
	}

	.ComercDescrip h2 {
		margin-top: 600px;
	}

	.EducDescrip h2 {
		margin-top: 600px;
	}

	.HosteleriaDescrip h2 {
		margin-top: 600px;
	}

	.HotelDescrip h2 {
		margin-top: 600px;
	}

	.OficiDescrip h2 {
		margin-top: 600px;
	}

	.ParticDescrip h2 {
		margin-top: 600px;
	}

	.SanitDescrip h2 {
		margin-top: 600px;
	}



	.SliderAdmin {
		height: 50%;
	}

	.SliderComerc {
		height: 50%;
	}

	.SliderEduc {
		height: 50%;
	}

	.SliderHosteleria {
		height: 50%;
	}

	.SliderHotel {
		height: 50%;
	}

	.SliderOfici {
		height: 50%;
	}

	.SliderPartic {
		height: 50%;
	}

	.SliderSanit {
		height: 50%;
	}
	
	/* Final Change tamaño foto y texto SECTORES */

	.InspeccionBotonEmpresa {
		min-width: 333px;
	}

	.score-section .container {
		padding: 60px 15px 60px;
	}
}

/* Tablet | MEDIUM :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {

	.header-section {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 20px;
		width: 772px;
		padding-left: 30px;
	}

	.header-right {
		display: none;
	}

	.hero-slider .owl-dots {
		display: none;
	}

	.hero-slider {
		height: 114%;
	}

	.SliderEmpresa {
		height: 70%;
		margin-top: 100px;
	}

	.TextoSolucion h1 {
		font-size: 40px;
	}

	
	/* PRIVACIDAD */

	.SliderPrivacidad {
		height: 50%;
	}

	.PrivacidadDescrip h2 {
		margin-top: 420px;
	}

	
	/* LEGAL */

	.SliderLegal {
		height: 50%;
	}

	.LegalDescrip h2 {
		margin-top: 420px;
	}

	/* COOKIES */

	.SliderCookies {
		height: 50%;
	}

	.CookiesDescrip h2 {
		margin-top: 420px;
	}

/* Change tamaño foto y texto PLAGAS */

	.SliderAves {
		height: 50%;
	}

	.SliderAvispa {
		height: 50%;
	}

	.SliderCarcoma {
		height: 50%;
	}

	.SliderChinche {
		height: 50%;
	}

	.SliderCucaracha {
		height: 50%;
	}

	.SliderHormiga {
		height: 50%;
	}

	.SliderMosca {
		height: 50%;
	}

	.SliderMosquito {
		height: 50%;
	}

	.SliderProcesionaria {
		height: 50%;
	}

	.SliderPulga {
		height: 50%;
	}

	.SliderRoedor {
		height: 50%;
	}

	.SliderTermita {
		height: 50%;
	}

	.AppccDescrip h2 {
		margin-top: 420px;
	}

	.DesinfeccionDescrip h2 {
		margin-top: 420px;
	}

	.DesinsectacionDescrip h2 {
		margin-top: 420px;
	}

	.DesratizacionDescrip h2 {
		margin-top: 420px;
	}

	.FumigaDescrip h2 {
		margin-top: 420px;
	}

	.LegionellaDescrip h2 {
		margin-top: 420px;
	}

	.TratamientoDescrip h2 {
		margin-top: 420px;
	}
	
/* Final Change tamaño foto y texto PLAGAS */


/* Change tamaño foto y texto SERVICIOS */
.SliderAppcc {
	height: 50%;
}

.SliderDesinfeccion {
	height: 50%;
}

.SliderDesinsectacion {
	height: 50%;
}

.SliderDesratizacion {
	height: 50%;
}

.SliderFumigacion {
	height: 50%;
}

.SliderLegionella {
	height: 50%;
}

.SliderTrataMadera {
	height: 50%;
}
/* Final Change tamaño foto y texto SERVICIOS */


/* Change tamaño foto y texto SECTORES */

.AdminDescrip h2 {
	margin-top: 430px;
}

.ComercDescrip h2 {
	margin-top: 430px;
}

.EducDescrip h2 {
	margin-top: 430px;
}

.HosteleriaDescrip h2 {
	margin-top: 430px;
}

.HotelDescrip h2 {
	margin-top: 430px;
}

.OficiDescrip h2 {
	margin-top: 430px;
}

.ParticDescrip h2 {
	margin-top: 430px;
}

.SanitDescrip h2 {
	margin-top: 430px;
}



.SliderAdmin {
	height: 50%;
}

.SliderComerc {
	height: 50%;
}

.SliderEduc {
	height: 50%;
}

.SliderHosteleria {
	height: 50%;
}

.SliderHotel {
	height: 50%;
}

.SliderOfici {
	height: 50%;
}

.SliderPartic {
	height: 50%;
}

.SliderSanit {
	height: 50%;
}
	
/* Final Change tamaño foto y texto SECTORES */

	.hs-text {
		margin-bottom: 60px;
		text-align: left;
		padding-top: 50px;
		font-size: 30px;
	}

	.main-menu {
		display: inline-block;
		padding-left: 20px; 
		padding-top: 30px;
	}

	.main-menu li a{
		margin-right: 25px;
		padding-top: 5px;
		padding-bottom: 30px;
	}

	.navbar-brand {
		padding-bottom: 30px;
		padding-left: 5px;
	}

	.icon-box-item .ib-icon {
		float: none;
		margin-bottom: 20px;
	}
	.score-section .hand-img {
		display: none;
	}

	.sidebar {
		padding-top: 50px;
	}

	.hero-slider .owl-stage-outer, .hero-slider .owl-stage, .hero-slider .owl-item, .hero-slider .hs-item .heroSliderEmpresa {
		height: 100%;
	}

	.avesDescrip h2 {
		margin-top: 450px;
	}

	.avispasDescrip h2 {
		margin-top: 450px;
	}

	.carcomaDescrip h2 {
		margin-top: 450px;
	}

	.hormigaDescrip h2 {
		margin-top: 450px;
	}

	.chincheDescrip h2 {
		margin-top: 450px;
	}

	.cucarachaDescrip h2 {
		margin-top: 450px;
	}

	.moscaDescrip h2 {
		margin-top: 450px;
	}

	.mosquitoDescrip h2 {
		margin-top: 450px;
	}

	.procesionariaDescrip h2 {
		margin-top: 450px;
	}

	.pulgaDescrip h2 {
		margin-top: 450px;
	}

	.roedorDescrip h2 {
		margin-top: 450px;
	}

	.termitaDescrip h2 {
		margin-top: 390px;
	}

	.InspeccionBotonEmpresa {
		min-width: 333px;
	}

	.score-section .container {
		padding: 60px 15px 60px;
	}
}

/* MEDIUM Mobile :480px. */

@media only screen and (max-width: 767px) {
	.header-section {
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 0px
	}

	.header-nav {
		display: block;
		padding: 25px;
	}

	.hero-slider {
		width: 100%;
		height: 80%;
	}

	.navbar-brand {
		padding: 33.5px 0px;
		float: initial;
		display: flex;
		justify-content: center;
	}

	.main-menu {
		display: none;
	}

	.slicknav_menu {
		padding: 10px;
		display: block;
		background: transparent;
		display: flex;
		justify-content: center;

	}
	.slicknav_btn {
		background: #01188C;
		margin-top: 0px;
		margin-bottom: 0px;
		height: 30px;
	}

	.slicknav_nav {
		background: #01188C;
		margin-bottom: 0px;
		
	}
	.slicknav_nav a {
		margin: 0;
		padding: 10px 20px;
	}

	.slicknav_nav a:hover {
		color: #01188C;
		border-radius: 0;
		background: #01188C;
	}
	.slicknav_nav .slicknav_row {
		padding: 10px 20px;
		margin: 0;
	}
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
		background: #01188C;
	}
	.slicknav_parent:hover {
		background: #01188C;
		color: #01188C;
	}

	.header-right .hr-btn {
		display: block;
		padding-left: 60px;	
	}

	.hs-text {
		font-size: 30px;
		text-align: left;
		margin-bottom: 80px;
		padding-top: 250px;
	}

	.hs-text h1 {
		font-size: 50px;
		display: none;
	}

	.hs-text a {
		padding-top: 250px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.site-btn {
		justify-content: center;
		align-items: center;
	}

	.score-section h2, .hs-text h1 {
		font-size: 50px;
	}

	.score-section .hand-img {
		display: none;
	}

	.sidebar {
		padding-top: 50px;
	}

	.inspeccionLegionella {
		display: flex;
		align-items: center;
	}

	.footerLegionella {
		display: none;
	}


/* SMALL-MEDIUM Mobile :479px. */

@media only screen and (max-width: 479px) {
	
	.header-section {
		padding: 0px;
		padding-bottom: 0px;
	}
	
	.score-section h2,
	.hs-text h1,
	.cta-section h2 {
		font-size: 36px;
	}

	.hero-slider .owl-dots {
		width: 100px;
	}

	.header-right .hr-btn.hr-btn-2 {
		display: block;
		padding-left: 30px;
		text-align: center;
	}

	.hero-form {
		padding: 40px 30px 50px;
	}

	.icon-box-item .ib-icon {
		float: none;
		margin-bottom: 20px;
	}

	.site-btn.sb-big {
		min-width: auto;
	}

	.info-text ul li {
		font-size: 16px;
	}

	.loans-text ul {
		padding-left: 0;
	}

	.vl {
		display: block;
	}

	.img-fluid {
		display: none;

	}

	.menuContacto h2 {
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;

	}

	.header-right .hr-btn {
		display: block;
		padding-left: 50px;
		text-align: center;
	}


	.contact-section {
		margin-top: 400px;
	}

	.botonSolicita {
		display: flex;
		align-items: center;
		padding: 25px 48px;
	}

	.botonExpertoIndex {
		display: flex;
		align-items: center;
	}

	.botonPresupuestoEmpresa {
		display: flex;
		align-items: center;
	}

	.botonPresupuestoAppC {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.botonPresupuestoOfic {
		display: flex;
		align-items: center;
	}

	.botonPresupuestoFumi {
		display: flex;
		align-items: center;
	}

	.botonPresupuestoDesra {
		display: flex;
		align-items: center;
	}

	.botonPresupuestoMadera {
		display: flex;
		align-items: center;
	}

	.botonPresupuestoDesinf {
		display: flex;
		align-items: center;
	}
	
	.botonPresupuestoDesinsec {
		display: flex;
		align-items: center;
	}
	
	.inspecTelAvis {
		display: flex;
		align-items: center;
	}

	.inspecTelAve {
		display: flex;
		align-items: center;
	}

	.inspecTelCarc {
		display: flex;
		align-items: center;
	}

	.inspecTelChin {
		display: flex;
		align-items: center;
	}

	.inspecTelCuca {
		display: flex;
		align-items: center;
	}

	.inspecTelMosca {
		display: flex;
		align-items: center;
	}

	.inspecTelMosqui {
		display: flex;
		align-items: center;
	}

	.inspecTelPulga {
		display: flex;
		align-items: center;
	}

	.inspecTelRata {
		display: flex;
		align-items: center;
	}

	.inspecTelTermi {
		display: flex;
		align-items: center;
	}


	.inspecTelHormiga {
		display: flex;
		align-items: center;
	}

	.inspecTelProces {
		display: flex;
		align-items: center;
	}
}

/* CELULARES PEQUEÑOS 320px*/
@media only screen and (max-width: 320px) {

	.header-section {
		padding-bottom: 0px;
	}

	.vl {
		display: none;
	}

	.contact-section {
		margin-top:400px;
	}
	
	.hero-slider {
		width: 100%;
		height: 80%;
	}

	.botonPresupuestoEd {
		display: flex;
		align-items: center;
	}

	.botonPresupuestoHotel {
		display: flex;
		align-items: center;
	}

	.botonPresupuestoOfic {
		display: flex;
		align-items: center;
	}

	.botonPresupuestoParti {
		display: flex;
		align-items: center;
	}

	.botonPresupuestoSan {
		display: flex;
		align-items: center;
	}
}